body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

form {
    width: 97%;
    margin: 10px auto;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    /*margin-bottom: 25px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
    page-break-inside: avoid;
}

select {
    -webkit-overflow-scrolling: touch;
    -webkit-background-size: 100% 100%;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url(http://dropdown/arrow/url/) no-repeat;
    background-position: right center;
    background-color: #CCCCCC;
    color: #000000;
    border: 1px solid #000000;
    width: 100%;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #3498db;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    /*margin-left: 25px;*/
    color: #3498db;
}

.form-group {
    width: calc(48% - 10px);
    margin-bottom: 15px;
}

label {
    margin-bottom: 8px;
    display: block;
    /*font-weight: bold;*/
}

input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-weight: bold;*/
    /*font-style: italic;*/
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    border-color: #babaff;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 9px;
}
button:hover {
    background-color: #616CFC; /* Darker green */
    transform: scale(1.05); /* Scale the button slightly on hover */
}

@media print {
    body {
        background-color: #fff;
    }

    section {
        margin-right: 0;
    }
}

#commentSection {
    width: 100%;
    /*margin: 10px auto;*/
    background-color: #f5f5f5;
    margin-top: 5px;
    /*padding: 15px;*/
    border-radius: 8px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

#commentSection h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #3498db;
    font-size: 18px;
}

#commentSection textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    font-size: 25px;
    text-align: center;
    background-color: #FFD3D3;
    border-color: #babaff;
}

.page-break {
    page-break-before: always;
}

.left-aligned {
    text-align: left;
}